        body {
            /*text-align: center;*/
            text-align: left;
            text-position:   absolute;

        }

        /*.wordLink {
            font-family: "Lucida Console", Monaco, monospace;
            color: white;
            background-color: #000000;
            border-style: dotted;
            padding: 5px;
            margin: 1px;
            display: inline-block;
        }*/

       /*#linkBlock {
          background-color: #000000;
          width: 100px;
          margin: auto;
        }*/

        /*input {
                float: left;
                display: inline-block;
                color: #ffffff;
                text-decoration: none;
                text-align: center;
                width: 100px;
                font-family: "Lucida Console", Monaco, monospace;
                background-color: #000000;
                border-style: dotted;
                border-width: 4px;
                padding: 10px 5px 10px 5px;
        }

         input:hover {
  background-color:#ffffff;
        color: #000000;
}*/
        #poem {
          /*text-align: center;*/
          padding-left: 50px;
          float:left;
        }

        .poem {
          text-align: center;
          padding-left: 50px;
        }

        li a {
          float: left;
          display: inline-block;
          color: #ffffff;
          text-decoration: none;
          text-align: center;
          width: 100px;
          font-family: "Lucida Console", Monaco, monospace;
          background-color: #000000;
          border-style: dotted;
          border-width: 4px;
          padding: 10px 5px 10px 5px;
          }

      li a:hover {
  background-color:#ffffff;
        color: #000000;
}

        p, h3, h5 {
            font-family: "Lucida Console", Monaco, monospace;
            color: #000000;
            text-align: left;
            /*margin-left:200em;*/
            padding-left: 10%;
        }

        ul {
          display: table;
          list-style-type: none;
          margin: auto;
          padding: 0px;
          width: 100px;
          background-color: #000000;
          text-align: center;
        }

#canvas1, #canvas2 {
  padding-left: 10%;
  /*
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100px;
    */
}
